Repository noemina/acts, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation, Changes Performance, Event Data Model, Clustering, SP formation, Seeding, Track Finding, Track Fitting, Vertexing, Ambiguity Resolution

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
  - Tests/UnitTests/Core/**
'Component - Examples':
  - Examples/**
  - Tests/UnitTests/Examples/**
'Component - Fatras':
  - Fatras/**
  - Tests/UnitTests/Fatras/**
'Component - Plugins':
  - Plugins/**
  - Tests/UnitTests/Plugins/**
'Component - Documentation':
  - docs/**
'Changes Performance':
  - CI/physmon/reference/**
'Event Data Model':
  - '**/*EventData*/**'
'Clustering':
  - '**/*Clusterization*/**'
'SP formation':
  - '**/*SpacePointFormation*/**'
'Seeding':
  - '**/*Seeding*/**'
'Track Finding':
  - '**/*TrackFinding*/**'
'Track Fitting':
  - '**/*TrackFitting*/**'
'Vertexing':
  - '**/*Vertexing*/**'
'Ambiguity Resolution':
  - '**/*AmbiguityResolution*/**'

debug and fixes
  Core/src/Surfaces/DiscSurface.cpp
  Examples/Python/python/acts/examples/detector.py
  Examples/Python/python/acts/examples/itk_new.py
  Examples/Python/src/Geometry.cpp
Labels: Component - Core, Component - Examples

adding lines to work with athena dumper
  Examples/Io/Root/src/RootMaterialTrackReader.cpp
Labels: Component - Examples

Weekly Update: Regenerate requirements.txt
  CI/clang_tidy/requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Python/tests/requirements.txt
  Examples/Scripts/requirements.txt
  docs/requirements.txt
Labels: Infrastructure, Component - Examples, Component - Documentation

Weekly Update: Regenerate requirements.txt
  CI/clang_tidy/requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Python/tests/requirements.txt
  Examples/Scripts/requirements.txt
  docs/requirements.txt
Labels: Infrastructure, Component - Examples, Component - Documentation

Weekly Update: Regenerate requirements.txt
  CI/clang_tidy/requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Python/tests/requirements.txt
  Examples/Scripts/requirements.txt
  docs/requirements.txt
Labels: Infrastructure, Component - Examples, Component - Documentation

Weekly Update: Regenerate requirements.txt
  CI/clang_tidy/requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Python/tests/requirements.txt
  Examples/Scripts/requirements.txt
  docs/requirements.txt
Labels: Infrastructure, Component - Examples, Component - Documentation

Weekly Update: Regenerate requirements.txt
  CI/clang_tidy/requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Python/tests/requirements.txt
  Examples/Scripts/requirements.txt
  docs/requirements.txt
Labels: Infrastructure, Component - Examples, Component - Documentation

Weekly Update: Regenerate requirements.txt
  CI/clang_tidy/requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Python/tests/requirements.txt
  Examples/Scripts/requirements.txt
  docs/requirements.txt
Labels: Infrastructure, Component - Examples, Component - Documentation

Weekly Update: Regenerate requirements.txt
  CI/clang_tidy/requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Python/tests/requirements.txt
  Examples/Scripts/requirements.txt
  docs/requirements.txt
Labels: Infrastructure, Component - Examples, Component - Documentation

adding debugging
  Core/include/Acts/Seeding/SeedFinder.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
Labels: Component - Core, Seeding

Weekly Update: Regenerate requirements.txt
  CI/clang_tidy/requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Scripts/requirements.txt
  Python/Examples/tests/requirements.txt
  docs/old/requirements.txt
Labels: Infrastructure, Component - Examples, Component - Documentation
